header h1 {
	text-align: center;
}

p {
	font-family: 'Sarabun', sans-serif;
	margin-top: 30px;
	width: 50%;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: column;
}

body {
	background-color: #fffafa;
}

h1 {
	color: #ffc0d0;
	text-align: bold;
	text-shadow: 1px 1px 3px black;
	font-size: 3em;
	font-family: 'Londrina Solid', cursive;
}
